<a href="https://colab.research.google.com/github/MuhammadRustamShomi/AI-Q2-learning-resources/blob/master/Car_Price_Prediction_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
#mounting google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Loading Data**

In [3]:
#Loading data and cheking five rows 
df_car=pd.read_csv("/content/drive/MyDrive/CarPrice_Assignment.csv")
df_car.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [4]:
df_car= pd.get_dummies(df_car, columns=['symboling','CarName','fueltype',	'aspiration',	'doornumber',	'carbody',	'drivewheel',	'enginelocation',	'enginetype',	'cylindernumber',	'fuelsystem'])

In [5]:
df_car.describe()

           car_ID   wheelbase  ...  fuelsystem_spdi  fuelsystem_spfi
count  205.000000  205.000000  ...       205.000000       205.000000
mean   103.000000   98.756585  ...         0.043902         0.004878
std     59.322565    6.021776  ...         0.205380         0.069843
min      1.000000   86.600000  ...         0.000000         0.000000
25%     52.000000   94.500000  ...         0.000000         0.000000
50%    103.000000   97.000000  ...         0.000000         0.000000
75%    154.000000  102.400000  ...         0.000000         0.000000
max    205.000000  120.900000  ...         1.000000         1.000000

[8 rows x 206 columns]

In [6]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Columns: 206 entries, car_ID to fuelsystem_spfi
dtypes: float64(8), int64(7), uint8(191)
memory usage: 62.4 KB

In [7]:
df_car.isnull().any()

car_ID             False
wheelbase          False
carlength          False
carwidth           False
carheight          False
                   ...
fuelsystem_idi     False
fuelsystem_mfi     False
fuelsystem_mpfi    False
fuelsystem_spdi    False
fuelsystem_spfi    False
Length: 206, dtype: bool

**loading input and output variables through slicing**

In [8]:
label=df_car.iloc[:,-1]
data=df_car.iloc[:,:25]

In [9]:
#checking lable shape
label.shape

(205,)

In [10]:
#checking data shape
data.shape

(205, 25)

**Data splitting into training**

In [11]:
X_train=data.sample(frac=0.7, replace=True, random_state=1)
y_train=label.sample(frac=0.7, replace=True, random_state=1)

**Data splitting into testing**

In [12]:
X_test=data.sample(frac=0.3, replace=True, random_state=3)
y_test=data.sample(frac=0.3, replace=True, random_state=3)

In [13]:
print(f"shape of traing data:{X_train.shape}\nshape of training label:{y_train.shape}")
print(f"shape of testing data:{X_test.shape}\nshape of testing label:{y_test.shape}")

shape of traing data:(144, 25)
shape of training label:(144,)
shape of testing data:(62, 25)
shape of testing label:(62, 25)

**hta dia**

In [14]:
X_train=np.asarray(X_train).astype("float32")/205
X_test=np.asarray(y_test).astype("float32")/205

In [15]:
X_train.shape

(144, 25)

In [16]:
y_train=np.asarray(y_train).astype("float32")
y_test=np.asarray(y_test).astype("float32")

In [17]:
from keras import models
from keras import layers
def build_model():
  model = models.Sequential()
  model.add(layers.Dense(10, activation='relu',
                         input_shape=(25,)))
  model.add(layers.Dense(6, activation='relu'))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [18]:
build_model().summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                260
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 66
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 333
Trainable params: 333
Non-trainable params: 0
_________________________________________________________________

In [19]:
#model=build_model()
#history=model.fit(X_train,y_train,epochs=5, batch_size=1)

In [20]:
import numpy as np
k=4
num_val_samples = len(X_train) // k
num_epochs = 100
all_scores = []
for i in range(k):
  print('processing fold #', i)
  val_data = X_train[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = y_train[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([X_train[:i * num_val_samples],
                                       X_train[(i + 1) * num_val_samples:]],axis=0)
  partial_train_targets = np.concatenate([y_train[:i * num_val_samples],
                                          y_train[(i + 1) * num_val_samples:]],axis=0)
  model = build_model()
  model.fit(partial_train_data, partial_train_targets,epochs=100, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [21]:
all_scores

[0.003468351438641548,
 5.761486363553558e-07,
 0.02884570136666298,
 0.00016999940271489322]

In [22]:
model.evaluate(X_test,y_test)

WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x7f64c7281710> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
2/2 [==============================] - 0s 5ms/step - loss: 9134953.0000 - mae: 825.4946

[9134953.0, 825.49462890625]

In [23]:
model.predict(X_test[5].reshape(1,X_test.shape[1]))

array([[0.00017]], dtype=float32)

In [24]:
test.head()

NameError: ignored

In [ ]:
val.head()

In [ ]:
train_label = Trg.loc[:,'price']
test_label = test.loc[:,'price']
val_label = val.loc[:,'price']

In [ ]:
from keras.utils import to_categorical

In [ ]:
train_label=np.array(train_label)
to_categorical(train_label)

In [ ]:
#tf.strings.to_number(Trg, tf.float32)
def my_func(arg):
  arg = tf.convert_to_tensor(arg, dtype=tf.float32)
  return arg

In [ ]:
abc=pd.to_numeric(Trg['fueltype'], errors='ignore')
abc.dtypes

In [ ]:
Trg["fueltype"] = Trg.convert_objects(convert_numeric=True)